nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  h4 {
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
  }
  
 
  @media (max-width: 768px) {
    nav {
      flex-direction: row;
      padding: 20px 0;
    }
  
    h4 {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  @media (min-width: 768px) and ( max-width: 932px) {
    nav {
      flex-direction: row;
      padding: 20px 0;
    }
  
    h4 {
      margin-bottom: 10px;
      font-size: 24px;
    }
  }
  