.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 70px ;
}

.container-header h3 {
    padding-left: 25px;
    margin-bottom: 30px;
}
.header-img {
    margin-bottom: 20px;
}
.header-img img {
    max-width: 75%;
   
}
.custom-button {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    background-color: rgb(144, 42, 42);
    color: white;
}

  @media  (min-width: 768px) and ( max-width: 931px) {
    .container-header {
        padding-top: 100px;
        padding-left: 50px;
        font-size: 24px;
    }

    .custom-button {
        font-size: 24px;
        padding: 20px 20px;
    }
}

@media (min-width: 932px) {
    .container-header {
        padding-top: 100px;
        font-size: 28px;
    }
}